@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
.dropdown-item:active {
  background-color: #c1c1c1;
}
